## Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

## Import 'orders_products_prior' dataset as df_ords_prior from original folder & Import     'orders_checked' from prepared folder

In [2]:
import pandas as pd

In [3]:
path=r"C:\Users\tjsra\OneDrive\Desktop\INSTACART BASKET ANALYSIS"

In [4]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [5]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

## Check the dimensions of the imported dataframes

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,first_order
0,0,2539329,1,1,2,8,NaN,True
1,1,2398795,1,2,3,7,15.0,False
2,2,473747,1,3,3,12,21.0,False
3,3,2254736,1,4,4,7,29.0,False
4,4,431534,1,5,4,15,28.0,False

In [8]:
df_ords.drop(columns=['Unnamed: 0'], inplace =True)

In [9]:
df_ords_prior.shape

(32434489, 4)

In [10]:
df_ords.shape

(1048575, 7)

## Merged Two dataframes. df_orders_prior & df_ords

In [11]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...
9927466,2719402,63100,2,0,8,14.0,False,14168,5,0,both
9927467,2719402,63100,2,0,8,14.0,False,6193,6,0,both
9927468,2855250,63100,3,2,13,16.0,False,27730,1,1,both
9927469,2855250,63100,3,2,13,16.0,False,16168,2,0,both
9927470,2355832,63100,4,5,16,30.0,False,49610,1,0,both

## Use the indicator argument to check whether there is a full match between the two dataframes.

In [13]:
df_merged_large['_merge']. value_counts()

_merge
both          9927471
left_only           0
right_only          0
Name: count, dtype: int64

## Export the dataframe in pickle format

In [14]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))